.content {
  min-height: auto !important;
}

.description {
  margin-bottom: var(--spacing-md) !important;
  font-family: 'Pretendard', sans-serif !important;
  font-size: var(--font-size-sm) !important;
  color: var(--color-text-secondary) !important;
  line-height: 1.5 !important;
}

.form {
  width: 100%;
}
